*, *::before, *::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	background-color: #f6f6f6;
}

h1 {
	margin: 10px 0 20px 10px;
	font-size: 28px;
}

h1 a:visited{
	color: #33954f;
}

h2 {
	font-weight: 700;
	color: #67aa7a;
}

em {
	font-weight: 500;
	color: gray;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	padding: 2px;
}

a {
	text-decoration: none;
	color: #67aa7a;
}

a:visited {
	color: #67aa7a;
}

footer {
	margin-top: 30px;
	border-top: solid 3px;
	text-align: center;
}

.mobile {
	margin-right: 10px;
	display: none;
}

@media screen and (max-width: 770px) {
	ul {
		padding: 0;
	}

	#navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 3em;
		left: 0;
		width: 100%;
		height: 0em;
		background: #f6f6f6;
		transition: 0.3s;
		overflow-y: hidden;
	}

	#navbar.clicked {
		height: 12em;
	}

	#navbar li {
		margin: 10px 0;
	}

	#navbar li:first-child {
		border-top: solid 3px #33954f;
	}

	#navbar li:last-child {
		border-bottom: solid 3px #33954f;
	}

	#navbar li a {
		color: #33954f;
		font-weight: 900;
	}

	#navbar li a:visited {
		color: #33954f;
	}

	.mobile {
		display: block;
	}
}